{
  "presets": [ ["@babel/preset-env", { "modules": false }] , "@babel/preset-react"],
  "comments": false,
  "env": {
    "minify": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        ["babel-preset-minify", { "builtIns": false }]
      ],
      "plugins": [["transform-react-remove-prop-types", {
        "mode": "remove",
        "removeImport": true,
        "ignoreFilenames": ["node_modules"]
      }]]
    },
    "production": {
      "plugins": [["transform-react-remove-prop-types", {
        "mode": "remove",
        "removeImport": true,
        "ignoreFilenames": ["node_modules"]
      }]]
    }
  }
}
