{
  "presets": [
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "remove",
          "ignoreFilenames": ["node_modules"]
        }]
      ]
    }
  }
}